.jumbotron{
	background:url(bg.jpg);
	height: 350px;
	color:#fff;
	background-attachment: fixed;
	background-position:top center;
	background-repeat: no-repeat;
	background-size: cover;
 	 h1{
	padding-top: 150px;
	color: #fff;
	font-weight: 100;
}
}