.navbar-inverse .navbar-brand {
    color: #fff !important;
    font-weight: 900;
} 
.navbar-inverse{
	 margin-bottom:0;
	 background-color: #000;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
    font-size: 18px;
    transition: all 0.5s;
} 
navbar-inverse .navbar-nav > li > a:hover{
    color: orange;
     
} 
